{% load static %}

<!DOCTYPE html>
<html>
<head>
  <title>Food Info</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href={% static "foods/css/styles.css"%}>
</head>
<body>
  <div> July 16, 2020 </div>
  <hr/>

  <h1>Food Info</h1>
  <h2>넌 먹을 때가 제일 이뻐</h2>
  
  <div class="food-container">

    <div class="food">
      <img src={% static "foods/images/chicken.jpg" %} width="300px" height="200px"/>
      <div class="info">
        <h3>닭강정</h3>
        <P>칼로리 : 매우높음</p>
        <a href="#">메뉴 보기</a>
      </div>
    </div>
    
    <div class="food">
      <img src="images/sushi.jpg" width="300px" height="200px"/>
      <div class="info">
        <h3>음식이름</h3>
        <P>칼로리 : </p>
        <a href="#">메뉴 보기</a>
      </div>
    </div>
    
    <div class="food">
      <img src="images/burger.jpg" width="300px" height="200px"/>
      <div class="info">
        <h3>음식이름</h3>
        <P>칼로리 : </p>
        <a href="#">메뉴 보기</a>
      </div>
    </div>
    
    <div class="food">
      <img src="images/bibimbap.jpg" width="300px" height="200px"/>
      <div class="info">
        <h3>음식이름</h3>
        <P>칼로리 : </p>
        <a href="#">메뉴 보기</a>
      </div>
    </div>
    
  </div>
</body>
</html>