{% extends 'foods_base/base.html' %}

{% load static %}

{% block content %}


  <!DOCTYPE html>
  <html>
  <head>
    <title>Food Info</title>
    <meta charset="utf-8">
    {% block extrahead %}
      <link rel="stylesheet" href={% static "foods/css/styles_detail.css"%}>
    {% endblock extrahead %}
  </head>

  <body>
    
    <div class="food-detail">

      <h2>{{review.name}}</h2>

      <img class="foodimg" src="{{review.image_1.url}}" width=30% alt="이미지" />

      <h3>{{review.content}}</h3>
    </div>
        
    <div class="review-author">
          <a href="{% url 'profile' review.author.id %}">
            <img class="author-img" src="{{review.author.profile_img.url}}" alt="이미지"/>  
          </a>
    </div>
    <p class="author-name">작성자 : {{ review.author.nickname }}</p>
    
    <div class="comment-list">

      <h3>comment test</h3>
        
      {% for comment in review.comment_set.all %}

        <div class="comment-card">
          <p class="comment-text">작성자:{{user}}</p>
          <p class="comment-text">내용: {{ comment.comment }}</p> 
        </div>
      
      {% endfor %}

    </div>

    <div class="comment-create">

      {% if user.is_authenticated %}
        <form method = "POST" , enctype="multipart/form-data">
          {% csrf_token %}
          {{form.comment}}
          <button type="submit" class="btn btn-primary mb-2">제출</button>
        </form>
      {% endif %}

    </div>  


    <div class="review-info">

        <a target=”_blank” href={{review.place_link}}>
          <span>위치보기</span>
        </a>

        {% if review.author ==  user %}
        <a href={% url 'review-update' review.id %}> 수정하기 </a>
        <a href={% url 'review-delete' review.id %}> 삭제하기 </a>

        {% endif %}
        <a href={% url 'review-list' %}>돌아가기</a>
      
    </div>

  </body>
  </html>

  
{% endblock content %}