{% include 'foods_base/header.html' %}
{% load static %}

<!DOCTYPE html>
<html>
<head>
  <title>Food Info</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href={% static "foods/css/styles_detail.css"%}>
</head>
<body>
  <div class="food-detail">
    <h2>{{review.name}}</h2>

    <img src="{{review.image_1.url}}" width=30% alt="이미지" />
    <p>{{review.content}}</p>

    <a href={{review.place_link}}>
      <span>위치보기</span>
    </a>
    <a href={% url 'review-update' review.id %}> 수정하기 </a>
    <a href={% url 'review-delete' review.id %}> 삭제하기 </a>
    <a href={% url 'review-list' %}>돌아가기</a>
  </div>>
</body>
</html>
