{% extends 'foods_base/base.html' %}

{% load static %}

{% block food-container %}

<!DOCTYPE html>
<html>
<head>
  <title>Food Info</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href={% static "foods/css/styles_detail.css"%}>
</head>
<div class="">
  <h5>안녕하세요~! {{user}}(닉네임 : {{user.nickname}})님</h5>
</div>
<div class="col-4">
  <a class="btn btn-primary" href="{% url 'review-create' %} "> 리뷰작성하기!</a>
</div>


  <div class="food-container">

    

      {% for review in reviews %}
      

        <div class="food">          
            <div class="card" style="max-width: 20rem;">
              <div class="card-header">{{review.title}}</div>
              <div class="card-body">
                <img src="{{review.image_1.url}}" width=100% alt="이미지">
                <h4 class="card-title">{{review.name}}</h4>
                <p class="card-text">리뷰정보 <a href={% url 'review-detail' review.id %}>자세히 보기</a></p>
              </div>

              <ul>
                <li >평점 : {{review.rating}} 점</li>
                <li >장소정보 {{review.place_link}}</li>
              </ul>
            </div>
        </div>
          <!-- origin -->
          <!-- <h3>{{review.title}}</h3>
          <h2>{{review.name}}</h2>
          <p>장소정보 {{review.place_link}}</p>
          <p>평점 : {{review.rating}} 점</p>   

          <div>
            <img src="{{review.image_1.url}}" width=100% alt="이미지">
          </div>

          <p>{{review.content}}</p>

          <a href={% url 'review-detail' review.id %}>자세히 보기</a>
           -->
        <!-- </div>   -->
      
      {% empty %}  
        <div>
          <p> 작성된 글이 없습니다 </p>
        </div>
      {% endfor %}  

  </div>   

  
  {% endblock food-container %}