{% extends 'foods_base/header.html' %}

{% block content %}


<form method = "POST" , enctype="multipart/form-data">
    
{% csrf_token %}

<!-- https://getbootstrap.com/docs/4.0/utilities/flex/ -->

<div class="form-group">
        
    <div class="d-flex justify-content-center">
        <h2>제목 : </h2> 
        {{form.title}}
    </div>

    <div class="d-flex justify-content-center">
        <h2>이름 : </h2>
        {{form.name}}
    </div>

    <div class="d-flex justify-content-center">
        <h2>장소 : </h2>
        {{form.place_link}}
    </div>
    
    <div class="d-flex justify-content-center">
        <h2>평점 : </h2>
        {{form.rating}}
    </div>

    <div class="d-flex justify-content-around">
        <p>{{form.image_1}}</p>
        <p>{{form.image_2}}</p>
        <p>{{form.image_3}}</p>
    </div>
    
    <div class="d-flex justify-content-center">
        <p>{{form.content}}</p>
    </div>
    
    <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-primary mb-2">작성완료</button>
    </div>

    
    <a class="btn btn-secondary" href={% url 'review-list' %}>홈으로</a>
    
    
    
</div>
</form>
{% endblock content %}