<navbar class="navbar">
  <div class="navbar__logo">
    <i class="fas fa-piggy-bank"></i>
    <a href="{% url 'review-list' %}">Piggy</a>
  </div>

  <ul class="navbar__menu">
    <li><a href="{% url 'review-list' %}">Home</a></li>
    <li><a href="">Menu_1</a></li>
    <li><a href="{% url 'bmi:predict_model' %}">Predict_BMI</a></li>
    {% if user.is_authenticated %}
    <li><a href="{% url 'profile' user.id %}">Mypage</a></li>
    {% endif %}
  </ul>

  <div class="navbar__logio">
    
      {% if user.is_authenticated %}      
  
      <li><a class="btn btn-primary" href="{% url 'account_logout'%}">LogOut</a></li>
      <li><a class="btn btn-primary" href="{% url 'account_change_password' %}">비밀번호 변경</a></li>
  
  
      {% else %}
      <li><a class="btn btn-primary" href="{% url 'account_login'%}" role="button" >LogIn</a></li>
      <li><a class="btn btn-primary" href="{% url 'account_signup'%}" role="button" >SignUp</a></li>
      
      {% endif %}
  </div>

  <a href="#" class="navbar__toggleBtn">
    <i class="fas fa-bars"></i>
  </a>
  
</navbar>


