{% extends "foods_base/base.html" %}

{% load widget_tweaks %}

{% block title %} SignUp | Foods {% endblock title %}

{% block content %}

    <h1>Password Reset</h1>

    <form method="post">
        {% csrf_token %}

        <div class="form-group">

            <div class="d-flex justify-content-center">
                <h2>Email : </h2>
            
                <div class="form-group mx-sm-3 mb-2">   {{form.email | attr:"placeholder:이메일을 입력하세요"|add_class:""}}
                {% for error in form.email.errors %}
                    <div class="error-message">{{error}}</div>
                {% endfor %}
            </div>
        </div>    

        

        <div class="d-flex justify-content-center">
            
            <button type="submit" class="btn btn-danger mb-2">비밀번호 초기화</button>
            
        </div>

        <div class="d-flex justify-content-center">
            <h2>비밀번호가 초기화되며, 등록하신 이메일로 링크가 전송됩니다</h2>
        </div>

        <div class="d-flex justify-content-center">
            <a class="btn btn-secondary mb-2" href="{% url 'index' %}">홈으로 이동</a>
            <a class="btn btn-success mb-2" href="{% url 'account_login' %}">로그인</a>
        </div>

    </form>


{% endblock content %}