<!DOCTYPE html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>비밀번호 변경</title>
    
    
  </head>
  <body>
    

    
    <div>
      <strong>Messages:</strong>
      <ul>
        
        <li>test중입니다.</li>
        
      </ul>
    </div>
    

    <div>
      <strong>Menu:</strong>
      <ul>
        
        <li><a href="http://localhost:8000/email/">Change E-mail</a></li>
        <li><a href="http://localhost:8000/logout/">Sign Out</a></li>
        
      </ul>
    </div>
    
    <h1>비밀번호 변경</h1>

    <form method="POST" action="http://localhost:8000/password/change/" class="password_change">
      
        <input type="hidden" name="csrfmiddlewaretoken" value="bbUnaiix6HwKvrIpwdMFuVTvk0D0om0AFfM67euOwdlvOZZL5RhOQWK1VmK0m290">
        
        <div>
          <p><label for="id_oldpassword">현재 비밀번호:</label> <input type="password" name="oldpassword" placeholder="현재 비밀번호" autocomplete="current-password" required="" id="id_oldpassword"></p>
          
        </div>
        <div>
          <p><label for="id_password1">새 비밀번호:</label> <input type="password" name="password1" placeholder="새 비밀번호" autocomplete="new-password" required="" id="id_password1"></p>
        </div>
        <div>
          <p><label for="id_password2">새 비밀번호 (확인):</label> <input type="password" name="password2" placeholder="새 비밀번호 (확인)" required="" id="id_password2"></p>
        <button type="submit" name="action">비밀번호 변경</button>
        
        </div>
        
        

        <a href="{% url 'account_reset_password' %}">비밀번호 재설정</a>
        <a href="http://localhost:8000/password/reset/">비밀번호를 잊으셨나요?</a>
    </form>

    
    
    
  

</body></html>