{% extends "foods_base/base.html" %}

{% load widget_tweaks %}

{% block title %} SignUp | Foods {% endblock title %}

{% block content %}

<a href="{% url 'index' %}">홈으로 이동</a>

<form method="post">
    {% csrf_token %}
    <div>
        {{form.email | attr:"placeholder:이메일을 입력하세요"|add_class:""}}
        {% for error in form.email.errors %}
            <div class="error-message">{{error}}</div>
        {% endfor %}
    </div>

    <button type="submit">비밀번호 초기화 </button>
</form>

<div>
    <p>비밀번호를 변경하지 않고 로그인화면으로 돌아가시겠습니까?</p>
    
    <a href="{% url 'account_login' %}">로그인</a>
  </div>
{% endblock content %}