{% extends "foods_base/base.html" %}

{% load widget_tweaks %}

{% block title %}SignUp | Foods {% endblock title %} 

{% block content %}


    <h1>Signup</h1>

    <form method="post">
        {% csrf_token %}
        <div class="form-group">

            <div class="d-flex justify-content-center">
                <h2>Email : </h2>
                <div class="form-group mx-sm-3 mb-2">{{form.email | attr:"placeholder:이메일을 입력하세요"|add_class:""}}
                    {% for error in form.email.errors %}
                        <div class="error-message">{{error}}</div>
                    {% endfor %}
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <h2>PW : </h2>
                <div class="form-group mx-sm-3 mb-2">{{form.password1| attr:"placeholder:비밀번호를 입력하세요"|add_class:""}}
                    {% for error in form.password1.errors %}
                        <div class="error-message">{{error}}</div>
                    {% endfor %}
                </div>
            </div>

            <div class="d-flex justify-content-center">
                <h2>PW확인 : </h2>
                <div class="form-group mx-sm-3 mb-2">
                    {{form.password2| attr:"placeholder:비밀번호 확인"|add_class:""}}
                    {% for error in form.password2.errors %}
                        <div class="error-message">{{error}}</div>
                    {% endfor %}
                </div>
            </div>
            
        </div>
            
        
        <div class="d-flex justify-content-center">
            <a class="btn btn-secondary mb-2" href="{% url 'index' %}">홈으로 이동</a>
            <button type="submit" class="btn btn-primary mb-2">회원가입</button>
            <a class="btn btn-success mb-2" href="{% url 'account_login' %}">로그인</a>
        </div>

    </form>

    
{% endblock content %}