@font-face {
  src: url("../fonts/BMJUA_ttf.ttf");
  font-family: Jua;
}
* {
  box-sizing: border-box;
  font-family: Jua;
}

body {
  background-color: #ffbdc1;
}

h2 {
  font-size: 3rem;
  color: #af762b;
  text-align: center;
}

.header h3 {
  color: #58595b;
  text-align: center;
}

.food-detail {
  width: 660px;
  margin-left: auto;
  margin-right: auto;
}

.food-detail h3 {
  color: #58595b;
  font-size: 32px;
  text-align: center;
}

.food-detail p {
  color: #58595b;
  font-size: 2rem;
  text-align: left;
}

.foodimg {
  display: block;
  width: 300px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20%;
}

/* .food-detail a {
  color: #0000ee;
  font-size: 16px;
  text-decoration: none;
  
  padding: 5px;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 30%;
} */

.review-author {
  position: relative;
  text-align: right;
  width: 5rem;
  height: 5rem; 
  border-radius: 70%;
  float: right;
  overflow: hidden
}

.author-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.author-name {
  color: #34c4b0;
  font-size: 1.5rem;
  text-align: right;
}

.comment-list {
  background-color: rgb(56, 145, 90);
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 50px;
  float: left;
  margin-left: 15px;
  margin-right: 15px;
}

.comment-card {
  background-color: rgb(66, 119, 119);
}