@font-face {
  src: url("../fonts/BMJUA_ttf.ttf");
  font-family: Jua;
}
/* https://material.io/resources/color/#!/?view.left=0&view.right=1&secondary.color=ffbdc1&primary.color=d6ffad */
/* 핑크-연두 조합의 색상지정 */
:root{
  --text-color:#fff0f4;
  --mainpink-color: #ffbdc1;
  --darkpink-color:#cb8c91;
  --lightgreen-color: #d6ffad;
  --darkgreen-color: #a4cc7d;
}
* {
  box-sizing: border-box;
}

body {
  background-color: var(--mainpink-color)
}

h1 {
  text-align: center;
  font-size: 5rem;
  color: #facf14;
  margin-top: 75px;
  margin-bottom: 30px;
  font-family: Jua;
}

h2 {
  text-align: center;
  font-size: 2rem;
  color: #fad014;
  font-family: Jua;
}

.food-container {
  width: 660px;
  margin-left: auto;
  margin-right: auto;
}

.food {
  background-color: white;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 50px;
  float: left;
  margin-left: 15px;
  margin-right: 15px;
}

.card {
  background-color: var(--lightgreen-color);
}

.food h3 {
  color: #7a5e47;
  font-size: 2.5rem;
  font-family: Jua;
}

.food p {
  color: #58595b;
  font-size: 1.5rem;
  font-family: Jua;
  text-align: left;
}

.food a {
  color: var(--darkgreen-color);
  font-size: 16px;
  font-family: Jua;
  text-decoration: none;
}

.food .info {
  padding: 20px;
  text-align: center;
}

.food img {
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;
}

.food .review-author a {
  color: var(--darkgreen-color);
  font-size: 16px;
  font-family: Jua;
  text-decoration: none;
}


.navbar  {
  display: flexbox;
  justify-content: space-between;
  align-items: center;
  background-color: #cb8c91;
  padding: 8px 12px;
}

.navbar__logo {
  color:#fff0f4;
}

.navbar__menu {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.navbar__menu li {
  padding: 8px 12px;
}

.navbar__menu li:hover {
  background-color: #fff0f4;
  border-radius: 4px;
}

.navbar__logio {
  list-style: none;
  display: flex;
  padding-left: 0; 
}

.navbar__logio li {
  padding:  5px 3px;
}

.navbar__toggleBtn {
    position: absolute;
    right: 32px;
    font-size: 24px;
    color: var(--mainpink-color);
    display: none;
}

/* 작은 화면 반응형 */

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;
  }
  .navbar__menu {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .navbar__menu li {
    width: 100%;
    text-align: center;
  }

  .navbar__logio {
    display: none;
    width: 100%;
    align-items: center;
  }

  .navbar__logio li{
    width: 50%;
    text-align: center;
  }
  
  .navbar__toggleBtn {
    display: block;
}
  .navbar__menu.active,
  .navbar__logio.active {
    display: flex;
  }
  
}