@font-face {
  src: url("../fonts/BMJUA_ttf.ttf");
  font-family: Jua;
}
* {
  box-sizing: border-box;
  font-family: Jua;
}

body {
  background-color: #f19143;
}

h2 {
  font-size: 3rem;
  color: #fad014;
  text-align: center;
}

.header h3 {
  color: #58595b;
  text-align: center;
}

.food-detail {
  width: 660px;
  margin-left: auto;
  margin-right: auto;
}

.food-detail h3 {
  color: #58595b;
  font-size: 32px;
}

.food-detail p {
  color: #58595b;
  font-size: 2rem;
  text-align: left;
}

.food-detail img {
  display: block;

  width: 300px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
}

.food-detail a {
  color: #0000ee;
  font-size: 16px;
  text-decoration: none;
  border: #0000ee 2px solid;
  padding: 5px;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

.review-author {
  display: block;
  align-items: center;
  font-size: 15px;
  height: 15rem;
  width: 3rem;
  margin-left: auto;
  margin-right: auto;
}
