<nav>
    <div class="navbar">
        <div class="navbar_logo">
            <i class="fas fa-piggy-bank"></i>
            <a href={% url 'post-list' %}> Piggy </a>
            <a href=""></a>    
        </div>

        <ul class="navbar_menu">
            <a href="">내가 먹은 음식</a>
            <a href="">test2</a>
            <a href="">test3</a>
            <a href="">test4</a>     
        </ul>
        
        <ul class="navbar_accounts">
            <a href="">id1</a>
            <a href="">id2</a>
            <a href="">id3</a>    
        </ul>    
    </div>
</nav>