{% extends './base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'posts/css/post_list.css' %}">
{% endblock css %}


{% block post_container %}
    <h3>제목 : {{post.title}}</h3> 
    <div>작성일 : {{post.created_date|date:"Y M/d D"}}</div>
    <hr>
    <div>내용 : {{post.content}}</div>
    </hr>

    <p>수정일 : {{post.modified_date|date:"Y M/d D"}}</p>
    <a href={% url 'post-update' post.id %}> 수정하기 </a>
    <a href={% url 'post-delete' post.id %}> 삭제하기 </a>
    <a href={% url 'post-list' %}>돌아가기</a> 
{% endblock post_container %}