{% extends './base.html' %}


{% block post_logo %}
<div class="navbar">
    <div class="navbar_logo">
        <i class="fas fa-piggy-bank"></i>
        <a href={% url 'post-list' %}> piggy </a>
    </div>
</div>
{% endblock post_logo %}

{% block post_container %}
    <h3>제목 : {{post.title}}</h3> 
    <div>작성일 : {{post.created_date|date:"Y M/d D"}}</div>
    <hr>
    <div>내용 : {{post.content}}</div>
    </hr>

    <p>수정일 : {{post.modified_date|date:"Y M/d D"}}</p>

    <a href={% url 'post-list' %}>돌아가기</a> 
{% endblock post_container %}